.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

* {
  margin: auto;
  padding: none;
}

body {
  margin: auto;
  padding: none;
  background-color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
}

header {
  background-color: #141414;
  height: 4em;
  margin: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  box-sizing: border-box;
  width: 100%;
  top: 0;
}

.Content {
  padding-left: 80px;
  padding-right: 50px;
  color: white;
}

.flex {
  display: flex;
}

.firstpa {
  color: #727272;
  margin-left: -50px;
}

.read {
  color: white;
  font-family: sans-serif;
  margin-left: 20px;
  font-size: medium;
}

.list-one {
  display: flex;
  color: white;
  list-style: none;
  font-size: small;
  letter-spacing: 1px;
}

ul {
  display: flex;
  color: white;
  list-style: none;
  font-size: small;
  letter-spacing: 1px;
}

li {
  margin-right: 40px;
}

.cur {
  margin-right: 40px;
}

.currency {
  margin-right: 8px;
}

.english {
  margin-right: 8px;
}

.dropdown {
  font-size: large;
  margin-top: -100px;
  width: 10px;
}

.top {
  margin-top: 100px;
  margin-left: -200px;
  margin-bottom: 0px;
}

.nestway {
  color: white;
  margin-top: 0px;
  font-size: 35px;
  margin-bottom: 0px;
}

#dot {
  height: 5.1px;
  margin-left: 8px;
  margin-bottom: 105px;
}

#smiley {
  height: 12.5px;
  margin-bottom: 95px;
  margin-left: -53.4px;
}

#search-bar {
  height: 4em;
  width: 600px;
  border-radius: 2em;
  background-color: #212121;
  border: none;
  display: flex;
  margin-top: -60px;
}

input:focus {
  outline: none;
}

input::placeholder {
  padding-left: 0px;
  color: white;
  border: none;
}

input[type="search"] {
  color: white;
  padding-left: 20px;
}

#search-icon {
  height: 15px;
}

.circle {
  height: 2.8em;
  width: 45.3px;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 0px 0px black;
  margin-left: -410px;
  margin-top: -56px;
}

#first-picture {
  height: 30em;
  size-adjust: cover;
  width: 1000px;
  border-radius: 25px;
  display: flex;
  margin-top: 20px;
  opacity: 0.7;
  margin-bottom: 80px;
}

.fblock {
  line-height: 50px;
  position: absolute;
  margin-top: -358px;
  margin-left: 230px;
}

.FB {
  padding: 15px 30px;
  color: black;
  font-weight: bold;
  font-size: x-small;
  border: none;
  border-radius: 8px;
  margin-top: 30px;
  background-color: white;
  cursor: pointer;
}

.FB:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.FB:active {
  background-color: rgba(255, 255, 255, 0.75);
}

.grey-box {
  background-color: rgb(217, 217, 217, 0.2);
  backdrop-filter: blur(5px);
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 75px;
  font-size:  15px;
  padding-left: 3px;
  position: absolute;
  margin-top: -180px;
  margin-left: 896px;
}

#grandma {
  margin-left: 0px;
}

.lit {
  display: flex;
  letter-spacing: 1px;
}

.litbox {
  display: flex;
  opacity: 0.5;
  transition-duration: 0.5s;
  margin-right: 80px;
  margin-left: 160px;
}

.litbox:hover {
  opacity: 1;
}

.litboxtwo {
  display: flex;
  opacity: 0.5;
  transition-duration: 0.5s;
  margin-left: 0px;
  margin-right: 80px;
}

.litboxtwo:hover {
  opacity: 1;
}

.litboxthree {
  display: flex;
  opacity: 0.5;
  transition-duration: 0.5s;
  margin-left: 0px;
}

.litboxthree:hover {
  opacity: 1;
}

.half-color {
  background: none;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  rotate: -60deg;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-behavior: linear ;
  margin-left: 0px;
  margin-right: 0px;
}

.half-color:hover {
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.2) white rgba(128, 128, 128, 0.2) rgba(128, 128, 128, 0.2);
  border-right-width: 3px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  margin-right: 0px;
}

.grandpa {
  rotate: 60deg;
  display: flex;
}

.block {
  display: block;
  margin-left: 20px;
  line-height: 19px;
}

.litlet {
  margin-left: 0px;
  margin-bottom: 10px;
}

.litletext {
  font-size: 13px;
}